{% extends 'base.html' %}



{% block menu %}

    <a class="btn btn-primary" href="{% url 'home' %}"> На главную </a> &nbsp

    {% if user.is_authenticated %}

        {% if photo.author.id == user.id %}
        <a class="btn btn-primary" href="{% url 'photo_update' pk=photo.pk %}"> Редактировать фото </a> &nbsp
        <a class="btn btn-primary" href="{% url 'photo_delete' pk=photo.pk %}"> Удалить фото </a> &nbsp
        {% endif %}

    {% endif %}

{% endblock %}


{% block content %}

<br/>
<h2> Информация о фото </h2>
<br/>

    {% if photo %}
        <p>
            <img src="{{ photo.photo.url }}" height="auto" width="500">
        </p>
        <p>Описание: {{ photo.description }}</p>
        <p>Автор:
            <a href="{% url 'profile_view' pk=photo.author.pk %}">
                {{ photo.author }}
            </a>
        </p>

        <p>Создано: {{ photo.created_at }} </p>
        <p>
            {% if photo.likers.all.count > 0 %}
                <p> Likers:

                {% for liker in photo.likers.all %}
                    <a href="{% url 'profile_view' pk=liker.pk %}">
                       <span> {{liker}}, </span>
                    </a>

                {% endfor %}
                </p>

            {% else %}
                <p>No likers</p>
            {% endif %}
        </p>

    {% endif%}

{% endblock %}