{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


{% block title %} Редактировать пользователя {% endblock %}
{% block menu %}
    <a href="{% url 'profile_view' user_obj.pk %}">Назад</a>
{% endblock %}

{% block content %}
    <h3> Поменять личные данные пользователя {{user_obj.username}}</h3>

    <form action="{% url 'password_update' user_obj.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Сохранить">
        <a href="{% url 'profile_view' user_obj.pk %}" class="btn btn-primary">Отменить</a>
    </form>

{% endblock %}